body {
  font-family: Cambria, Times, serif;
  padding: 0px 10px;
}

/* Code display (for development/debugging) */
.code {
  color: #c000c0;
  font-family: verdana, sans-serif;
}

/* Disabled text */
.disabled {
  color: #808080;
  font-size: small;
}

/* Error messages */
.error {
  color: red;
}
/* Hint text */
.hint {
  color: #1030F0;
  font-style: italic;
  font-size: small;
}

/* Search specifications */
.specs {
  color: #000080;
}

/* The wizard (background) */
.wizard {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  padding-left: 200px; /* Same as the width of the sidenav */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* wizard Content */
.wizard-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* Autocomplete dropdown */
        .tt-hint,
        .userlook {
            border: 2px solid #CCCCCC;
            border-radius: 8px 8px 8px 8px;
            font-size: 24px;
            height: 45px;
            line-height: 30px;
            outline: medium none;
            padding: 8px 12px;
            width: 400px;
        }

        .tt-dropdown-menu {
            width: 400px;
            margin-top: 5px;
            padding: 8px 12px;
            background-color: #fff;
            border: 1px solid #ccc;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 8px 8px 8px 8px;
            font-size: 18px;
            color: #111;
            background-color: #F1F1F1;
        }

/* Side Navigation */
/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn, .disabledmenu{
  padding: 6px 8px 6px 16px;
  font-family: Cambria, Times, serif;
  text-decoration: none;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidenav a, .dropdown-btn{
  color: #888888;
}
.disabledmenu{
  color: #585858;
  font-size: 14px;
}

/* Headers are bigger than links */
.dropdown-btn {
  font-size: 20px;
}
.sidenav a{
  font-size: 16px;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}
